:root {
	/* Основные цвета */
	--color-primary-blue: #2b7fff;
	--color-primary-navy: #011c44;
	--color-primary-white: #ffffff;
	/* Второстепенные цвета */
	--color-secondary-gray-light: #747272;
	--color-secondary-gray-dark: #4a4a4a;
	--color-secondary-navy: #011f4a;
	--color-secondary-yellow: #ffd02b;
}

/* For all */
body {
	background-color: var(--color-primary-white);
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
}

footer {
	background-color: var(--color-primary-navy);
}
a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

img {
	background-color: black;
}

/* Header */
.link {
	color: var(--color-primary-navy);
}

.link:hover {
	color: var(--color-primary-blue);
	font-weight: 700;
}

/* Main */

.centering {
	text-align: center;
}

.hero-section {
	background-image: url(../img/procedure.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}

.hero-title {
	color: var(--color-primary-blue);
	font-family: Play, sans-serif;
	font-weight: 700;
	font-size: 140px;
	line-height: 0.81;
	text-transform: capitalize;
}
.button {
	color: var(--color-primary-white);
	background-color: var(--color-primary-blue);
	padding: 16px 32px;
	border-radius: 32px;
	cursor: pointer;
	font-weight: 600;
	border: 2px solid var(--color-primary-blue);
}

.button:hover {
	color: var(--color-primary-navy);
	background-color: transparent;
}

.consultation {
	color: var(--color-secondary-gray-dark);
	font-size: 12px;
	line-height: 1.5;
}

.about-us-text {
	line-height: 1.7;
}

.why-we-text {
	line-height: 1.3;
}

.accent-about-us {
	color: var(--color-primary-blue);
	text-transform: capitalize;
}

.accent {
	color: var(--color-primary-blue);
}

.accent-text {
	font-weight: 600;
}

.section-title {
	font-family: Play, sans-serif;
	color: var(--color-primary-navy);
	font-size: 64px;
	font-weight: 700;
}

/* Footer */

.link-footer {
	color: var(--color-primary-white); /* Поменять потом на белый */
}

.link-footer:hover {
	color: var(--color-primary-blue);
	font-weight: 700;
}

.address-link {
	font-size: 16px;
	color: var(--color-primary-white); /* Поменять потом на белый */

	font-style: normal;
}

.address-link:hover {
	color: var(--color-primary-blue);
}

.privacy-policy {
	font-size: 16px;
	color: var(--color-primary-white); /* Поменять потом на белый */
}

.privacy-policy:hover {
	color: var(--color-primary-blue);
}

.copyright {
	font-size: 13px;
	color: var(--color-secondary-gray-light);
}
