@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/roboto-v47-latin-600.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Play';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Play';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

:root {
	/* Основные цвета */
	--color-primary-blue: #2b7fff;
	--color-primary-navy: #011c44;
	--color-primary-white: #ffffff;
	/* Второстепенные цвета */
	--color-secondary-gray-light: #747272;
	--color-secondary-gray-dark: #4a4a4a;
	--color-secondary-navy: #011f4a;
	--color-secondary-yellow: #ffd02b;
}

/* For all */

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0; /* Убираем автоматически добавленные браузером верхние и нижние отступы, потому что с нижними отступами надо будет ещё работать  */
}

.section {
	padding: 48px 0; /* Отступы сверху и снизу между секциями */
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background-color: var(--color-primary-white);
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	margin: 0; /* Убираем автоматически добавленные браузером отступы */
}

footer {
	background-color: var(--color-primary-navy);
}

address {
	font-style: normal;
}

a {
	text-decoration: none;
	display: inline-block; /* Блочный элемент, чтобы можно было задать ширину и высоту */
}

ul {
	padding: 0; /* Убираем автоматически добавленные браузером отступы */
	margin: 0; /* Убираем автоматически добавленные браузером отступы */
	list-style-type: none; /* Убираем маркеры у списка */
}

img {
	background-color: black;
}

.container {
	width: 100%; /* Занимает всю доступную ширину родительского элемента */
	max-width: 1288px; /* Ширина контента + 48px, потому что box-sitizing:border box, не входят в эту ширину */
	margin: 0 auto; /* Центрируем контент */
	padding: 0 24px; /* Отступы от краёв контейнера, чтобы не прилипали */
}

/* Header */

.header-container {
	display: flex; /* Делаем flex-контейнер */
	align-items: center; /* Выравниваем элементы по вертикали */
	gap: 40px; /* Расстояние между элементами */
}

.header-nav {
	display: flex; /* Делаем flex-контейнер */
	align-items: center; /* Выравниваем элементы по центру */
	flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
	gap: 40px; /* Расстояние между элементами */
}

.header-menu {
	display: flex; /* Делаем flex-контейнер */
	gap: 56px; /* Расстояние между элементами */
	flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
	justify-content: center; /* Выравниваем пункты меню по центру */
}

.header-social-icons {
	display: flex; /* Делаем flex-контейнер */
	gap: 32px; /* Расстояние между элементами */
}

.link {
	color: var(--color-primary-navy);
}

.link:hover {
	color: var(--color-primary-blue);
	font-weight: none; /* Возможно потом вернуть на 700 */
}

/* Main */

.centering {
	text-align: center;
}

.hero-section {
	background-image: url(../img/procedure.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}

.hero-title {
	color: var(--color-primary-blue);
	font-family: Play, sans-serif;
	font-weight: 700;
	font-size: 140px;
	line-height: 0.81;
	text-transform: capitalize;
}
.button {
	color: var(--color-primary-white);
	background-color: var(--color-primary-blue);
	padding: 16px 32px;
	border-radius: 32px;
	cursor: pointer;
	font-weight: 600;
	border: 2px solid var(--color-primary-blue);
}

.button:hover {
	color: var(--color-primary-navy);
	background-color: transparent;
}

.consultation {
	color: var(--color-secondary-gray-dark);
	font-size: 12px;
	line-height: 1.5;
}

.about-us-text {
	line-height: 1.7;
}

.why-we-text {
	line-height: 1.3;
}

.accent-about-us {
	color: var(--color-primary-blue);
	text-transform: capitalize;
}

.accent {
	color: var(--color-primary-blue);
}

.accent-text {
	font-weight: 600;
}

.section-title {
	font-family: Play, sans-serif;
	color: var(--color-primary-navy);
	font-size: 64px;
	font-weight: 700;
}
/* About us section */

.session-photo {
	border-radius: 50%;
}

/* Why-we-section */

.why-we-container {
	display: flex; /* Делаем flex-контейнер */
	gap: 56px; /* Расстояние между элементами */
	justify-content: center; /* Выравниваем элементы по вертикали */
	align-items: center; /* Выравниваем элементы по центру */
	flex-wrap: wrap; /* Перенос элементов на новую строку */
}

.wy-why-advantages {
	display: flex; /* Делаем flex-контейнер */
	flex-direction: column; /* Располагаем элементы по вертикали */
	align-items: center; /* Выравниваем элементы по центру */
	height: 181px; /* Высота блока */
	width: 316px; /* Даем возможность уменьшаться */
	border-radius: 32px; /* Скругляем углы */
	padding: 24px 32px; /* Отступы внутри блока */
	background-color: #ffd02b;
	gap: 8px; /* Расстояние между элементами */
	box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.why-we-text {
	text-align: center; /* Выравниваем текст по центру */
	margin-bottom: 0; /* Убираем автоматически добавленные браузером отступы */
}

.wy-why-advantages svg {
	flex-shrink: 0; /* Запрещаем уменьшение размера */
}

/* Our-procedures-section */

.our-procedures-container {
	/* Контейнер отвечает за фото и стрелки  */
	display: flex; /* Делаем flex-контейнер */
	gap: 32px; /* Расстояние между элементами */
	align-items: center; /* Выравниваем элементы по центру */
}

.procedures-list {
	/* Контейнер отвечает за список процедур */
	display: flex; /* Делаем flex-контейнер */
	gap: 20px; /* Расстояние между элементами */
	flex-wrap: wrap; /* Перенос элементов на новую строку */
}

.procedure-item {
	/* Контейнер отвечает за одну процедуру */
	display: flex; /* Делаем flex-контейнер */
	flex-basis: calc(
		(100% - 40px) / 3
	); /* Ширина элемента 100 процентов минус 40 gap 20+20 расстояние между карточками */ /* Ширина элемента */
}

.procedure-item {
	height: 456px; /* Высота фото */
	width: 344px;
}

.procedure-photo {
	border-radius: 4px 120px; /* Скругляем углы */
}

/* Contacts-section */

.contacts-section {
	padding-bottom: 96px; /* Отступ секции снизу от футера */
}

.contacts-map {
	flex-shrink: 0; /* Запрещаем уменьшение размера */
	border: none; /* Убираем рамку */
	border-radius: 32px; /* Скругляем углы */
}

/* Footer */

.link-footer {
	color: var(--color-primary-white); /* Поменять потом на белый */
}

.link-footer:hover {
	color: var(--color-primary-blue);
	font-weight: none; /* Возможно потом вернуть на 700 */
}

.address-link {
	font-size: 16px;
	color: var(--color-primary-white); /* Поменять потом на белый */
}

.address-link:hover {
	color: var(--color-primary-blue);
}

.privacy-policy {
	font-size: 16px;
	color: var(--color-primary-white); /* Поменять потом на белый */
}

.privacy-policy:hover {
	color: var(--color-primary-blue);
}

.copyright {
	font-size: 13px;
	color: var(--color-secondary-gray-light);
}

.footer {
	/* === Основной контейнер для футера === */
	padding: 56px 0;
}

.footer-container {
	/* === Контейнер для размещения элементов футера === */
	display: flex; /* Делаем flex-контейнер: nav,address, info встали в ряд */
	gap: 20px; /* Расстояние между элементами */
}

.footer-nav {
	/* === Контейнер для навигационных ссылок === */
	display: flex; /* Делаем flex-контейнер */
	flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
	gap: 20px; /* Расстояние между элементами */
}

.footer-logo {
	/* === Контейнер для логотипа === */
	flex-grow: 1; /* Растягиваем лого на всё доступное пространство */
}

.footer-menu {
	/* === Контейнер для меню === */
	flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
}

.footer-menu li:not(:last-child) {
	margin-bottom: 16px; /* Отступ снизу, кроме последнего */
}

.footer-address {
	/* === Контейнер для адресной информации === */
	display: flex; /* Делаем flex-контейнер */
	flex-grow: 1; /* Растягиваем адрес на всё доступное пространство */
	flex-direction: column; /* Столбец */
	gap: 16px; /* Расстояние между элементами */
}

.address-list li:not(:last-child) {
	margin-bottom: 16px; /* Отступ снизу, кроме последнего */
}

.footer-social-icons {
	/* === Контейнер для иконок и ссылок на социальные сети === */
	display: flex; /* Делаем flex-контейнер */
	gap: 20px; /* Расстояние между элементами */
}

.footer-info {
	/* === Контейнер для дополнительной информации === */
	display: flex;
	flex-direction: column; /* Располагаем элементы по вертикали */
	gap: 16px; /* Добавляем отступы между элементами */
	flex-grow: 1; /* Растягиваем информацию на всё доступное пространство */
}
