@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/roboto-v47-latin-600.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Play';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Play';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

:root {
	/* Основные цвета */
	--color-primary-blue: #2b7fff;
	--color-primary-navy: #011c44;
	--color-primary-white: #ffffff;
	/* Второстепенные цвета */
	--color-secondary-gray-light: #747272;
	--color-secondary-gray-dark: #4a4a4a;
	--color-secondary-navy: #011f4a;
	--color-secondary-yellow: #ffd02b;
}

/* For all */

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background-color: var(--color-primary-white);
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	margin: 0; /* Убираем автоматически добавленные браузером отступы */
}

footer {
	background-color: var(--color-primary-navy);
}
a {
	text-decoration: none;
	display: inline-block; /* Блочный элемент, чтобы можно было задать ширину и высоту */
}

ul {
	padding: 0; /* Убираем автоматически добавленные браузером отступы */
	margin: 0; /* Убираем автоматически добавленные браузером отступы */
	list-style-type: none; /* Убираем маркеры у списка */
}

img {
	background-color: black;
}

.container {
	width: 100%; /* Занимает всю доступную ширину родительского элемента */
	max-width: 1288px; /* Ширина контента + 48px, потому что box-sitizing:border box, не входят в эту ширину */
	margin: 0 auto; /* Центрируем контент */
	padding: 0 24px; /* Отступы от краёв контейнера, чтобы не прилипали */
}

/* Header */

.header-container {
	display: flex; /* Делаем flex-контейнер */
	align-items: center; /* Выравниваем элементы по вертикали */
	gap: 40px; /* Расстояние между элементами */
}

.header-nav {
	display: flex; /* Делаем flex-контейнер */
	align-items: center; /* Выравниваем элементы по центру */
	flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
	gap: 40px; /* Расстояние между элементами */
}

.header-menu {
	display: flex; /* Делаем flex-контейнер */
	gap: 56px; /* Расстояние между элементами */
	flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
	justify-content: center; /* Выравниваем пункты меню по центру */
}

.header-social-icons {
	display: flex; /* Делаем flex-контейнер */
	gap: 32px; /* Расстояние между элементами */
}

.link {
	color: var(--color-primary-navy);
}

.link:hover {
	color: var(--color-primary-blue);
	font-weight: none; /* Возможно потом вернуть на 700 */
}

/* Main */

.centering {
	text-align: center;
}

.hero-section {
	background-image: url(../img/procedure.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}

.hero-title {
	color: var(--color-primary-blue);
	font-family: Play, sans-serif;
	font-weight: 700;
	font-size: 140px;
	line-height: 0.81;
	text-transform: capitalize;
}
.button {
	color: var(--color-primary-white);
	background-color: var(--color-primary-blue);
	padding: 16px 32px;
	border-radius: 32px;
	cursor: pointer;
	font-weight: 600;
	border: 2px solid var(--color-primary-blue);
}

.button:hover {
	color: var(--color-primary-navy);
	background-color: transparent;
}

.consultation {
	color: var(--color-secondary-gray-dark);
	font-size: 12px;
	line-height: 1.5;
}

.about-us-text {
	line-height: 1.7;
}

.why-we-text {
	line-height: 1.3;
}

.accent-about-us {
	color: var(--color-primary-blue);
	text-transform: capitalize;
}

.accent {
	color: var(--color-primary-blue);
}

.accent-text {
	font-weight: 600;
}

.section-title {
	font-family: Play, sans-serif;
	color: var(--color-primary-navy);
	font-size: 64px;
	font-weight: 700;
}

/* Footer */

.link-footer {
	color: var(--color-primary-white); /* Поменять потом на белый */
}

.link-footer:hover {
	color: var(--color-primary-blue);
	font-weight: none; /* Возможно потом вернуть на 700 */
}

.address-link {
	font-size: 16px;
	color: var(--color-primary-white); /* Поменять потом на белый */

	font-style: normal;
}

.address-link:hover {
	color: var(--color-primary-blue);
}

.privacy-policy {
	font-size: 16px;
	color: var(--color-primary-white); /* Поменять потом на белый */
}

.privacy-policy:hover {
	color: var(--color-primary-blue);
}

.copyright {
	font-size: 13px;
	color: var(--color-secondary-gray-light);
}

.footer {
	padding: 56px 0;
}

.footer-container {
	display: flex; /* Делаем flex-контейнер */
	gap: 20px; /* Расстояние между элементами */
}

.footer-nav {
	display: flex; /* Делаем flex-контейнер */
	flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
	gap: 20px; /* Расстояние между элементами */
}

.footer-address {
	display: flex; /* Делаем flex-контейнер */
	flex-direction: column; /* Столбец */
	flex-grow: 1; /* Растягиваем меню на всё доступное пространство */
}

.footer-social-icons {
	display: flex; /* Делаем flex-контейнер */
	gap: 20px; /* Расстояние между элементами */
}
